{% extends "base.html" %}
{% block content %}
  <h2>Cook profile</h2>
  <p><strong>Full name: </strong>{{ cook.first_name }} {{ cook.last_name }}</p>
  <p><strong>Email: </strong>{{ cook.email }}</p>
  <p><strong>Years of experience: </strong>{{ cook.years_of_experience }}</p>
  <p>
    <a class="btn btn-primary" role="button" href="{% url "accounts:cook-create" pk=cook.id %}">Update cook</a>
  </p>
  <p>
    <a class="btn btn-danger" role="button" href="{% url "accounts:cook-delete" pk=cook.id %}">Delete cook</a>
  </p>
{% endblock %}
