{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>Dish Types</h1>
  <form method="get" action="" class="form-inline">
    {{ search_form|crispy }}
    <input type="submit" value="Search" class="btn btn-secondary">
  </form>

  {% if dish_types %}
    <ul class="list-unstyled">
      {% for dish_type in dish_types %}
        <li class="my-2">
          {{ dish_type.name }}
          <a href="{% url 'kitchen:dish-type-delete' pk=dish_type.id %}" class="text-danger ms-2">
            Delete
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No dish types found.</p>
  {% endif %}

  <a href="{% url 'kitchen:dish-type-create' %}" class="btn btn-primary">
    Add a new dish type
  </a>
{% endblock %}
