{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="container mt-4">
    <div class="card">
      <div class="card-header">
        <h1 class="h3">{{ object|yesno:"Update,Create" }} Dish Type</h1>
      </div>
      <div class="card-body">
        <form action="" method="post" novalidate>
          {% csrf_token %}
          {{ form|crispy }}
          <div class="form-actions mt-4">
            <button type="submit" class="btn btn-primary">
              {{ object|yesno:"Update,Create" }}
            </button>
            <a href="{% url 'kitchen:dish-type-list' %}" class="btn btn-outline-secondary ml-2">
              Cancel
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
